<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>計測中の走行映像を録画するために使用します</string>
<key>NSMicrophoneUsageDescription</key>
	<string>走行音・エンジン音を動画に収録するために使用します</string>
</dict>
</plist>
